<link href="app/css/addEleProduct.css" rel="stylesheet">
<div class="ele-product content-display-images">
    <div class="lg-container">
        <div class= "lg-row">
             <h1> Please fill Product details </h1>
        </div>
       <div class="add-ele-product-details">
         <div id = "col-add-ele-product-section" class="col-add-ele-product-section a-section">
            <div class="col-add-ele-product add-ele-product-section-1">
                <div class= "ele-product-fields ele-product-section-1">
                    <div class="add-ele-products-label-feilds">
                        <label class="col-sm-4 control-ele-product-label">Category:</label>
                    </div>
                    <div class="dropdown-ele-category col-sm-ele-input">
                        <input type="button" class="dropbtn-ele-category form-control-btn" id= "category-input" value="<Electronics>">
                    </div>
                </div>
                <div class= "ele-product-fields ele-product-section-2">
                    <label class="ele-choose-type col-sm-4" for="cars">Choose a Type :</label>
                    <select name="add-ele-products" class="col-sm-ele-input ele-dropdown-types" id="add-ele-products">
                    <option value="Mobile">Mobile</option>
                    <option value="HeadPhone">HeadPhone</option>
                    <option value="eleGadget">Electronic Gadget</option>
                    <option value="Speaker">Speaker</option>
                    <option value="Others">Others</option>
                    </select>
                </div> 
                <div class= "ele-product-fields ele-product-section-2">
                    <div class="add-ele-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Name:</label>
                    </div>
                    <div class="product-name col-sm-ele-input">
                        <input type="text" class="form-control" id="ele-model-input" placeholder="Enter model name" required>
                    </div>
                </div>    
                <div class= "ele-product-fields ele-product-section-2">
                    <div class="add-ele-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Price:</label>
                    </div>
                    <div class="product-name col-sm-ele-input">
                        <input type="text" class="form-control" id="ele-price-input" placeholder="Enter price value" required>
                    </div>
                </div>  
                <div class= "ele-product-fields ele-product-section-2">
                    <div class="add-ele-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Main features:</label>
                    </div>
                    <div class="product-name col-sm-ele-input">
                        <input type="text" class="form-control" id="ele-feature-input" placeholder="Eg:Best thing in product">
                    </div>
                </div>    
                <div class= "ele-product-fields ele-product-section-2">
                    <div class="add-ele-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Location:</label>
                    </div>
                    <div class="product-name col-sm-ele-input">
                        <input type="text" class="form-control" id="ele-location-input" placeholder="Enter location" required>
                    </div>
                </div>   
                <div class= "ele-product-fields ele-product-desc product-section-6">
                    <div class="add-ele-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Description:</label>
                    </div>
                    <div class="product-description col-sm-ele-input">
                        <textarea type="text" class="input-description form-control" id="book-description-input" placeholder="Tell some thing about your product"></textarea>
                    </div>
                </div>       
                 <div class="ele-product-form-btn">
                    <div class="ele-product-submit-btn col-sm-offset-4 col-sm-3">
                        <button type="submit" class="ele-product-submit-btn-outline">Submit</button>
                    </div>
                    <div class="ele-product-cancle-btn col-sm-3">
                        <button type="submit" class="ele-product-cancle-btn-outline">Cancel</button>
                    </div>
                 </div>
            </div>
            </script>
            <div class="col-add-ele-product add-ele-product-section-2">
                <div class="col-add-ele-product ele-product-lg-container">
                    <div class="add-ele-product-image">
                        <img id="add-ele-product-image-section" class="add-ele-product-image-section" src="">
                        <h3 class="add-ele-product add-ele-product-image-tag">@Add Image</h3>
                    </div>
                </div>
                <input id="ele-product-file-type" class="ele-product-file-type" type="file" name="fileToUpload">
            </div>
        </div>
       </div>
        </div>
    </div>
</div>
  
