<div class="product content-display-images">
    <div class="lg-container">
        <div class= "lg-row">
             <h1> Please fill Product details </h1>
        </div>
       <div class="add-product-details">
         <div id = "col-add-product-section" class="col-add-product-section a-section">
            <div class="col-add-product add-product-section-1">
                <div class= "product-fields product-section-1">
                    <div class="add-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Category:</label>
                    </div>
                    <div class="dropdown-category col-sm-input">
                        <input type="button" class="dropbtn-category form-control-btn" id= "category-input" value="<Books>">
                    </div>
                </div>
                <div class= "product-fields product-section-2">
                    <div class="add-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Name:</label>
                    </div>
                    <div class="product-name col-sm-input">
                        <input type="text" class="dropbtn-category form-control" id="book-name-input" placeholder="Enter book title" required>
                    </div>
                </div>
                <div class= "product-fields product-section-3">
                    <div class="add-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Author:</label>
                    </div>
                    <div class="product-author col-sm-input">
                        <input type="text" class="dropbtn-category form-control" id="book-author-input" placeholder="Enter author Name">
                    </div>
                </div>
                <div class= "product-fields product-section-4">
                    <div class="add-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Story type:</label>
                    </div>
                    <div class="product-story-type col-sm-input">
                        <input type="text" class="input-story-type form-control" id="book-story-input" placeholder="Enter Story type Ex: Horror..">
                    </div>
                </div>
                <div class= "product-fields product-section-5">
                    <div class="add-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Price:</label>
                    </div>
                    <div class="product-price col-sm-input">
                        <input type="text" class="input-price form-control" id="book-price-input" placeholder="Enter price value" required>
                    </div>
                </div>
                <div class= "product-fields product-section-6">
                    <div class="add-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Location:</label>
                    </div>
                    <div class="product-location col-sm-input">
                        <input type="text" class="input-location form-control" id="book-location-input" placeholder="Please confirm location" required>
                    </div>
                </div>
                <div class= "product-fields product-section-6">
                    <div class="add-products-label-feilds">
                        <label class="col-sm-4 control-product-label">Description:</label>
                    </div>
                    <div class="product-description col-sm-input">
                        <textarea type="text" class="input-description form-control" id="book-description-input" placeholder="Tell some thing about your product"></textarea>
                    </div>
                </div>               
                 <div class="product-form-btn">
                    <div class="product-submit-btn col-sm-offset-4 col-sm-3">
                        <button type="submit" class="product-submit-btn-outline">Submit</button>
                    </div>
                    <div class="product-cancle-btn col-sm-3">
                        <button type="submit" class="product-cancle-btn-outline">Cancel</button>
                    </div>
                 </div>
            </div>
            </script>
            <div class="col-add-product add-product-section-2">
                <div class="col-add-product product-lg-container">
                    <div class="add-product-image">
                        <img id="add-product-image-section" class="add-product-image-section" src="">
                        <h3 class="add-product add-product-image-tag">@Add Image</h3>
                    </div>
                </div>
                <input id="product-file-type" class="product-file-type" type="file" name="fileToUpload">
            </div>
        </div>
       </div>
        </div>
    </div>
</div>
  
