<div class="content-page-header">
    <div class="content-page-headder-img">
        <div class="content-page-img">
            <img class="content-page-headder-img-ban" src="app/images/barter.jpg">
        </div>
    </div>
</div>
<span class="bk-products">
    <h2 class="latest-bk-related-label"> Latest </h2>
     <h2 class="bk-related-header"> Books </h2>
</span>
<div class="content-page-bks-prds" id="content-page-bks-prds"></div>
<span class="ele-products">
    <h2 class="latest-ele-electronics-label">Latest </h2>
    <h2 class="ele-electronics-related"> Electronics </h2>
</span>
<div class="content-page-ele-prds" id="content-page-ele-prds"></div>
<div class="content-page-footer" id="content-page-footer"></div>