<div class="lg-container">
   <div class= "lg-row">
        <h1> xchURproduct </h1>
   </div>
   <div id = "col-auth-main-section" class="col-auth-main-section a-section">
     <div id = "col-auth-main-section-1" class="col-auth-main-section-1 a-section-1">
       <div class="fb-btn-section" >
        <a href="#" class="lg-fb-btn lg-btn">
          <i class="fa fa-google-li fa-fw">Login with Google+</i>
         </a>
       </div>
     </div>
     {{!-- <div class="vl-lg-page">
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>
    </div> --}}
     <div id = "col-auth-main-section-2" class="col-auth-main-section-2 a-section-2">
       <div class="lg-auth-in" >
        <input class= "lg-btn" type="text" name="lg-user-n" id="lg-user-n" placeholder="Enter email" required>
       </div>
       <div class="lg-auth-in" >
        <input class= "lg-btn" type="password" name="lg-user-p" id="lg-user-p" placeholder="Password" required>
       </div>
       <div class="lg-in-sign-btn" id="lg-in-sign-btn">
        <button type="submit" id="lg-sign-btn" class="lg-sign-btn">Login</button>
      </div>
    </div>
     </div>
     </div>
   </div>
  
</div>
</div>
  
