<div class="nav-menu">
    <div class="nav-menu-left">
        <div class="nav-location-details">
            <div class="nav-link nav-home">
                <ul class="nav-ui-links">
                    <li class="contact-help nav-link">
                        <a class="h-tag-color user-homePage" href="#homePage"><h4>Home</h4> </a>
                    </li>
                    <li class="about-us nav-link">
                        <a class="h-tag-color lg-user-books" href="#books"><h4>Books</h4> </a>
                    </li>
                    <li class="about-us nav-link">
                        <a class="h-tag-color lg-user-electronics" href="#electronics"><h4>Electronics</h4> </a>
                    </li>
                    <li class="nav-link add-product">
                        <div class="category-dropdown">
                            <a class="category-dropbtn dropdown-toggle h-tag-color" href="#"><h4>Add Product</h4></a>
                            <div class="dropdown-category-content">
                                <a class="dropdown-category-content-books" href="#">Books</a>
                                <a class="dropdown-category-content-electronics" href="#">Electronics</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div> 
    </div>
</div>