<div class="show-user-message-item">
   <div class="user-product-image">
        <img class="show-user-message-object" src="app/product_Img/5ee87d8c5d372_Naruto.jpg">
    </div>
    <div class="prd-name">
        <span><h4 class="prd-pbName"> {{firstName}} {{lastName}} </h4></span>
         <div>{{Message}}</div>
    </div>
</div>