<div class="footer-box">
    <div class="footer-item">
        <div class="v-links">
            <div class="footer-link footer-login-link">
                <a class= "a-footer-link" href="#help"><h4>Use Cases</h4> </a>
            </div>
            <div class="footer-link footer-register-link">
                <a class="a-footer-link" href="#register"><h4>Support</h4> </a>
            </div>
            <div class="studydesk-copyright">
                <span>@2020 xchURproduct</span>
            </div>
        </div>
    </div>
  </div>
  