<div class="chat-box">
    <div class="top">
        <div class="top-profile">
           <img width="50" class="profile-pic" height="50" src="app/images/barter.jpg">
        </div>
        <div class="top-user-name">
          {{userName}}
        </div>
        <div class="close-chat-box">
          <img class="close-chat-box-img" src="app/images/Close-icon.png">
        </div>
    </div>
    <div class="chat-box-messages" id="chat-box-messages">
      <div class="sendUserMessage receiverUserMessage">
      </div>
    </div>
    <div class="bottom-send-btn">
      <div class="txt-send-btn">
          <div class="in-text">
            <textarea placeholder="Type your message" class="send-text-in-btn" name="send-text-in-btn" id="send-text-in-btn" rows="2"></textarea>
            <i class="fa fa-picture-o"></i>
            <i class="fa fa-file-o"></i>
          </div>
          <div class="send-btn">
             <span class="send">Send</span>
          </div>
      </div>
    </div>
</div>