<nav class="navBar xch-header-navbar" id="xch-header-navbar">
    <div class="over-header-layout"></div>
    <div class="primary-header">
        <div class="inside-header">
            <div class="header-col header-col-1">
               <div class="brand-sym">
                   <div class="logo">
                       <h1 class="logo-title">BarterSYS</h1>
                   </div>
               </div>
            </div>
            <div class="header-col header-col-2">
              <div class="search-section">
                <span class="icon search-icon"></span>
                <input type="text" name="inputSearchBox" class="search-box typeahead" placeholder="Search for product" id="input-search-box">
              </div>
            </div>
            <div class="header-col header-cal-5">
                <div class="notification-dropdown">
                        <img class="link-notification-img" src="app/images/bell.png" />
                </div>
                <div class="notification-latest" id="notification-latest"></div>
                <div class="notification-latest-symbol notification-latest-lg-disable" id="notification-latest-symbol">
                    <span id="notification-latest-nums" class="notification-latest-nums"></span>
                </div>
            </div>
             <div class="header-col header-cal-6">
                <div class="message-dropdown">
                        <img class="link-message-img" src="app/images/message_icon.svg" />
                </div>
                <div class="message-latest" id="message-latest"></div>
                <div class="message-latest-symbol message-latest-lg-disable" id="message-latest-symbol">
                    <span id="message-latest-nums" class="message-latest-nums"></span>
                </div>
            </div>
            <div class="header-col header-cal-3">
                <div class="header-links">
                    <div class="header-link header-login-link">
                        <a class= "a-login-link" href="#login"><h4>Login</h4> </a>
                    </div>
                    <div class="header-link header-register-link">
                        <a class="a-register-link" id="register" href="#register"><h4>Register</h4> </a>
                    </div>
                </div>
            </div>
            <div class="header-col header-cal-4 lg-disable">
                <div class="header-links">
                    <div class="header-link header-login-link">
                        <a class= "a-name-link"> <h4 class="lg-username" id = "lg_firs_tName">{{firstName}}</h4> </a>
                    </div>
                    <div class="header-link header-register-link">
                        <a class="a-logout-link"><h4>Logout</h4> </a>
                    </div>
                </div>
            </div>
            <div class="header-col header-cal-6">
                <div class="notification-dropdown">
                        <img class="link-notification-img" src="app/images/menu.png" />
                </div>
                <div class="notification-latest" id="notification-latest"></div>
            </div>
        </div>
    </div>
  </nav> 