<div class="receiverUserMessage-i">
    <div class="receiverUserMessage-head">
        <span class="receiverUserMessage-name">{{receiveUserName}} </span>
        <span class="receiverUserMessage-time">10:14 AM, Today</span>
    </div>
    <div class="receiverUserMessage-message">{{receiveMessage}}</div>
</div>