<div class="sendUserMessage-i">
    <div class="sendUserMessage-head">
        <span class="sendUserMessage-time">10:14 AM, Today</span>
        <span class="sendUserMessage-name">{{userName}} </span>
    </div>
    <div class="sendUserMessage-message">{{message}}</div>
</div>
